header {
    background-color: #D7D4FF ;
    padding: 0px 0px;
}

.container1 {
  text-align: center;
}

#titulo {
  font-family: 'Merriwather';
  position: absolute;
  height: 45px;
  left: 101px;
  font-weight: 400;
  font-size: 36px;
  top: 137.5px;
  width: 131%
}

.texto_principal {
  position: absolute;
  width: 168%;
  height: 96px;
  left: 100px;
  top: 250px;
  font-family: 'Lato';
  line-height: 32px;
}

@media only screen and (max-width: 480px) {
    #img_topo {
      width: 100%;
    }
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 10px;
    text-align: center;
  }

  .container2 {
    text-align: center;
    height: 222px;
    background-color: #63ECFF;
  }
  .container3 {
    text-align: center;
    height: 222px;
    background-color: #F363FF;
  }

  .container4 {
    text-align: center;
    height: 222px;
    background-color: #63FF73;
  }

  .container5 {
    text-align: center;
    height: 222px;
    background-color: #FFDD63;
  }

  .container6 {
    text-align: center;
    height: 222px;
    background-color: #6663FF;
  }

  .container7 {
    text-align: center;
    height: 222px;
    background-color: #FF6363;
  }
  .cards p {
    text-align: end;
    height: 20px;
    width: 300px;
    line-height: 20px;
  }

  .paragrafo p {
    height: 222px;
    text-align: start;
    
  }

  .cards li {
    text-decoration: none;
  }
