header {
  background-color: #d7d4ff;
  display: block;
}

.container_1 {
  display: flex;
  justify-content: right;
}

.titulo {
  font-family: "Merriwather";
  font-size: 36px;
  width: 349px;
}

.texto_principal {
  width: 349px;
  font-family: "Lato";
  line-height: 32px;
}

button {
  position: relative;
  width: 155px;
  height: 50px;
  background-color: #6c63ff;
  box-shadow: 0px 5px 5px rgba(23, 23, 23, 0.1);
  border-radius: 5px;
}

.cards {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 auto;
}

.titulo2 {
  text-align: center;
  display: flex;
  width: 100px;
  position: relative;
  margin: 50px;
  bottom: 40px;
  justify-content: center;
  font-size: 26px;
}

.container2 {
  background-color: #FF6363;
  width: 100px;
  padding: 100px;
  margin: 50px;
}

.titulo3 {
  text-align: center;
  display: flex;
  width: 100px;
  position: relative;
  margin: 50px;
  bottom: 40px;
  justify-content: center;
  font-size: 26px;
}

.container3 {
  background-color: #63ECFF;
  width: 100px;
  margin: 50px;
  padding: 100px;
}

.titulo4 {
  text-align: center;
  display: flex;
  width: 100px;
  position: relative;
  margin: 50px;
  bottom: 40px;
  justify-content: center;
  font-size: 26px;
}

.container4 {
  background-color: #F363FF;
  width: 100px;
  padding: 100px;
  margin: 50px;
}

.titulo5 {
  text-align: center;
  display: flex;
  width: 100px;
  position: relative;
  margin: 50px;
  bottom: 40px;
  justify-content: center;
  font-size: 26px;
}

.container5 {
  background-color: #63FF73;
  width: 100px;
  margin: 50px;
  padding: 100px;
}

.titulo6 {
  text-align: center;
  display: flex;
  width: 100px;
  position: relative;
  margin: 50px;
  bottom: 40px;
  justify-content: center;
  font-size: 26px;
}

.container6 {
  background-color: red;
  width: 100px;
  margin: 50px;
  padding: 100px;
}

.titulo7 {
  text-align: center;
  display: flex;
  width: 100px;
  position: relative;
  margin: 50px;
  bottom: 40px;
  justify-content: center;
  font-size: 26px;
}

.container7 {
  background-color: #FFDD63;
  width: 100px;
  margin: 50px;
  padding: 100px;
}

main {
  margin: 100px 100px;
}
